<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
         <!-- log SQL with timing ERRORrmation, post execution -->
        <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="log4jdbc.Slf4jSpyLogDelegator" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.rent" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
        <Root level="OFF">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
