/*move_text1 중요한 글자*/
.move_text1 {
	-webkit-animation: move_text1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    		animation: move_text1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes move_text1 {
	0% {
	  letter-spacing: -0.4rem;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
}

/*move_text_up 글자 위로*/
.move_text_up{
    position: relative;
    animation: move_text_up 1s ease-in-out; 
} 
@keyframes move_text_up{
	0%{
	    top: 50px;
	    opacity: 0.6;
	}
	
	100%{
	    top: 0px;
	    opacity: 1;
	}
}

/*move_bottom*/
.move_bottom{
	-webkit-animation: move_bottom 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: move_bottom 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        transition-duration: 0.8s;
}
@keyframes move_bottom {
   0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*move_left 섹션2*/
.move_left {
	-webkit-animation: move_left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: move_left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes move_left {
      0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*move_right 섹션2*/
.move_right {
	-webkit-animation: move_right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: move_right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes move_right {
	 0% {
	   -webkit-transform: translateX(-100px);
	           transform: translateX(-100px);
	 }
	 100% {
	   -webkit-transform: translateX(0);
	           transform: translateX(0);
	 }
 }

/*move_shake 섹션5*/
.move_shake {
	-webkit-animation: move_shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: move_shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes move_shake {
	  0%,
	100% {
	  -webkit-transform: rotate(0deg);
	          transform: rotate(0deg);
	  -webkit-transform-origin: 50% 100%;
	          transform-origin: 50% 100%;
	}
	10% {
	  -webkit-transform: rotate(2deg);
	          transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: rotate(-3deg);
	          transform: rotate(-3deg);
	}
	30%,
	50%,
	70% {
	  -webkit-transform: rotate(3deg);
	          transform: rotate(3deg);
	}
	80% {
	  -webkit-transform: rotate(-2deg);
	          transform: rotate(-2deg);
	}
	90% {
	  -webkit-transform: rotate(2deg);
	          transform: rotate(2deg);
	}
}